# --- Node.js (Backend & Frontend) ---
node_modules/
dist/
build/
.env
.DS_Store

# --- Go (Hyperledger Chaincode) ---
/blockchain/chaincode/vendor/
/blockchain/chaincode/zeqium
*.tar.gz

# --- Flutter (Mobile) ---
/mobile/wallet-app/.dart_tool/
/mobile/wallet-app/.idea/
/mobile/wallet-app/build/
/mobile/wallet-app/ios/Flutter/Generated.xcconfig
/mobile/wallet-app/ios/Flutter/app.flx
/mobile/wallet-app/ios/Flutter/gen_snapshot/

# --- Hyperledger Fabric (SEGURIDAD) ---
/blockchain/network/crypto-config/
/blockchain/network/channel-artifacts/
*.pem
*.key
*.tx
*.block

# --- Docker ---
.docker/

# --- Binarios y herramientas descargadas ---
/blockchain/bin/
/blockchain/builders/
/blockchain/chaincode/chaincode
